/Practica2/HolaMundo/nbproject/private/
/Practica2/HolaMundo/build/
/Practica2/HolaMundo/dist/
/Practica2/serpiente/nbproject/private/
/Practica2/sources/nbproject/private/
/Practica2/Serpiente/nbproject/private/
/Practica2/Serpiente/dist/
/Practica2/Serpiente/build/
/Practica2/CalculoCirculoCentral/nbproject/private/
/Practica2/CalculoCirculoCentral/build/
/ServidorTCP/ServidorTCP/nbproject/private/
/Practica3/CalculoAreaPoligono/nbproject/private/
/Practica3/CalculoAreaPoligono/build/
/Practica3/CalculoAreaPoligono/dist/
/Practica2/CalculoCirculoCentral/dist/
/ServidorTCP/ServidorTCP/build/
/ServidorTCP/ServidorTCP/dist/
/Practica5/nbproject/private/
/Practica5/build/
/ProblemaViajero/dist/
/ProblemaViajero/build/
/Practica6/nbproject/private/
/Practica6/build/
/Practica5/dist/
/Practica7/nbproject/private/
/Tetris/nbproject/private/
/Tetris/build/